.preloader {
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  background: #F7F7F7 none repeat scroll 0 0;
  *opacity: 0.6;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
}

.spinner {
   display:inline-block;
   font-size:0px;
   padding:0px;
}
.spinner span {
   vertical-align:middle;
   border-radius:100%;
   background:#000000;
   display:inline-block;
   width:25px;
   height:25px;
   margin:3px 2px;
   -webkit-animation:spinner 0.8s linear infinite alternate;
   animation:spinner 0.8s linear infinite alternate;
}
.spinner span:nth-child(1) {
   -webkit-animation-delay:-0.8;
   animation-delay:-0.8s;
   background-color: rgb(40, 60, 95);
}
.spinner span:nth-child(2) {
   -webkit-animation-delay:-0.53333s;
   animation-delay:-0.53333s;
   background-color: rgb(40, 60, 95);
}
.spinner span:nth-child(3) {
   -webkit-animation-delay:-0.26666s;
   animation-delay:-0.26666s;
   background-color: rgb(40, 60, 95);
}
@keyframes spinner {
   from {transform: scale(0, 0);}
   to {transform: scale(1, 1);}
}
@-webkit-keyframes spinner {
   from {-webkit-transform: scale(0, 0);}
   to {-webkit-transform: scale(1, 1);}
}
